<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        {% endblock %}
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/react@18.2.0/umd/react.development.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/react-dom@18.2.0/umd/react-dom.development.js"></script> -->
    </head>
    <body>
        <header class="banner">
            <h1>Let's Play!</h1>
            <nav>{% block nav %}{% endblock %}</nav>
        </header>
        <title>{% block title %}{% endblock %}</title>
        <div id="content">{% block content %} {% endblock %}</div>
    </body>
</html>