{% extends "base.html" %}

{% block title %} Upload your image for each category {% endblock %}
{% block nav %}<a href="{{ url_for('play') }}">Click here to view images</a>{%endblock%}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
    <h2>Upload your image for each category</h2>
    <div id="react"></div>
    <script type="text/babel">
        const categories = {{ categories | tojson | safe }};
        function CategoryUpload({ categories }) {
            const [selectedCategory, setSelectedCategory] = React.useState('')
            const [image, setImage] = React.useState(null);
            const [status, setStatus] = React.useState('');
            const handleCategoryChange = (event) => {
                setSelectedCategory(event.target.value);
            };
            const handleImageChange = (event) => {
                setImage(event.target.files[0]);
            };
            const handleSubmit = async (event) => {
                event.preventDefault();
                if (!image || !selectedCategory) {
                    setStatus('Please select an image and a category');
                    return;
                }
                const formData = new FormData();
                formData.append('image', image);
                formData.append('category', selectedCategory);
                try {
                    const response = await fetch('/', {
                        method: 'POST',
                        body: formData
                    });
                    const result = await response.json();
                    if (response.ok) {
                        setStatus('Photo uploaded successfully!');
                    } else {
                        setStatus(result.error || 'Error occured');
                    }
                } catch (error) {
                    setStatus('Error: ' + error.message);
                }
            };
            return(
                <div>
                    <h3>Select a Category</h3>
                    <select value={selectedCategory} onChange={handleCategoryChange}>
                        <option value=""> -- Select a Category --</option>
                        {categories.map((category, index) => (
                            <option key={index} value={category}>{category}</option>
                        ))}
                    </select>
                    <h3>Select an Image to Upload</h3>
                    <input type="file" onChange={handleImageChange}/>
                    <button onClick={handleSubmit}>Upload</button>
                    {status && <p>{status}</p>}
                </div>
            );
        };
        const rootElement = document.getElementById('react');
        ReactDOM.render(<CategoryUpload categories={categories}/>, rootElement);
    </script>
{% endblock %}