{% extends "base.html" %}

{% block title %} Guess whose photo this is! {% endblock %}
{% block nav %}<a href="{{ url_for('home') }}">Click here to upload images</a>{%endblock%}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    <h2>Categories and Images:</h2>
    <div>file path {{file_path}}</div>
    <div>images {{images}}</div>
    <div>file paths {{file_paths}}</div>
    <div>category images: {{ category_images }}</div>
    <div>{{array_test}}</div>
    <div>
        {% for category in category_images %}    
            {% for item in category_images[category] %}    
                {{ item }}
            {% endfor %}
        {% endfor %}
    </div>
    <div>
        {% for category in category_images %}    
            {% for item in category_images[category] %}    
                <img src="static/uploads/{{ item }}" width="50" height="50"/>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}