{% extends "base.html" %}
{% block title %} Guess whose photo this is! {% endblock %}
{% block nav %}<a href="{{ url_for('home') }}">Click here to upload images</a>{%endblock%}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
<div class="spacing">
    <h2>{{ title }}</h2>
    <div class="category-buttons">
        {% for category in category_images %}
            <button onclick="showCategory('{{ category }}')">{{ category }}</button>
        {% endfor %}
    </div>
    {% for category in category_images %}
        <div id="{{ category }}-container" class="category-container grid" style="display:none;">
            {% for item in category_images[category] %}
                <img src="static/uploads/{{ item }}" alt="{{ item }}"/>
            {% endfor %}
        </div>
    {% endfor %}
    <div id="preview-area"></div>
</div>
<script>
    function showCategory(category) {
        const allContainers = document.querySelectorAll('.category-container');
        allContainers.forEach(container => container.style.display = 'none');
    
        const catContainer = document.getElementById(category + '-container');
        if (catContainer) {
            catContainer.style.display = 'grid';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const images = document.querySelectorAll('.category-container img');
        const previewArea = document.getElementById('preview-area');
        images.forEach((img) => {
            img.addEventListener('click', () => {
                previewArea.innerHTML = '';
                const largeImg = document.createElement('img');
                largeImg.src = img.src;
                largeImg.classList.add('large-preview');
                previewArea.appendChild(largeImg);
            });
        });
    });
</script>
{% endblock %}
